<% provide(:title, 'User') %>

<!-- <div class="well">
  <p>О чем ты сейчас думаешь?</p>
</div> -->

<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-xs-5 col-sm-5 col-md-4">
    <%= image_tag(@user.avatar.url(:medium), class: "img-rounded img-responsive") %>

    <br><br>

    <div class="list-group">

    <% if @user == current_user %>

          <p>Fotos with me</p>
          <p>Posts with me</p>

          <h4 class="heading-xs">Profile is filled on: <span class="pull-right">64%</span></h4>
          <div class="progress progress-u progress-xxs margin-bottom-40">
            <div style="width: 64%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="64" role="progressbar" class="progress-bar progress-bar-dark">
            </div>
          </div>
          <p>Add contact info</p>
          <p>Add info about education</p>
          <p>Add your hobbies</p>


    <% else %>


          <% if friends?(@user) %>
            <p class="list-group-item">Friends</p>
          <% elsif friends_request_sent?(@user) %>
            <p class="list-group-item">Friend request sent</p>
          <% elsif friends_request_received?(@user) %>
              <%= link_to add_friend_path(:friend_id => @user.id), class: "list-group-item" do %>
                  Accept friend
              <% end %>
              <%= link_to '#', class: "list-group-item" do %>
                  Decline
              <% end %>
          <% else %>
              <%= link_to add_friend_path(:friend_id => @user.id), class: "list-group-item" do %>
                  Send friend request
              <% end %>
          <% end %>



      <a href="#" class="list-group-item">
        Message
      </a>

          <% end %>


    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-7">
    <h4>
      <%= @user.name %> <%= @user.lastname %>
    </h4>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1">
    <%= link_to "", edit_user_path(@user), class: "pull-right btn glyphicon glyphicon-pencil" %>
  </div>
  <div class="col-md-8">
    <hr>
    <p>Country: <%= @user.country.countryname %></p>
    <p>City:<%= @user.city.cityname %></p>
    <p>Gender: <%= @user.gender.gendername %></p>
    <p>Relationship: <%= @user.relationship.relationshipname %></p>

    <p>Speaks: English, French</p>
    <p>Learning: Russian, Spanish</p>
    <p>Looking for: Language exchange <br> Friendship <br> Voyages</p>

    <p>Joined 2 months ago</p>
  </div>
</div>

<%= form_for [@user, Post.new] do |f| %>



  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :text, class: "form-control", :rows => "3", :placeholder => "Write a message..." %>
      <%= f.hidden_field :author_id, :value => current_user.id %>
      </br>
      <%= f.submit "Post", class: "btn btn-primary pull-right" %>
      <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-user" href="#" title="Add user"></a>
      <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-picture" href="#" title="Add image"></a>
      <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-map-marker" href="#" title="Add place"></a>

    </div>
  </div>

<% end %>

<br>

<div class="row">

<% @user.posts.reverse.each do |p| %>

  <div class="col-md-12 row">
    <div class="col-xs-3 col-sm-3 col-md-2">
      <%= image_tag( p.author.avatar.url(:small), class: "img-rounded img-responsive") %>

      <br>

    </div>
    <div class="col-xs-9 col-sm-9 col-md-10">
      <strong class="primary-font"><%= link_to "#{p.author.name}", p.author %></strong>

      <small class="pull-right text-muted">
        <span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words(p.created_at) %> ago
      </small>


      <p><%= p.text %></p>
    </div>
  </div>


<% end %>





</div>

