This is for Index.html.erb - the list of users in the system


<div class="col-md-4">
  <div class="col-md-6">
    <%= image_tag( user.avatar.url(:small), class: "img-rounded") %> <br><br>

    <p>
      <%= link_to add_friend_path(:friend_id => user.id),
                  class: "btn btn-success btn-xs #{"disabled btn-info" if friends_request_sent?(user) }" do %>

          <% if friends?(user) %>
              Friends
              <span class="glyphicon glyphicon-user"></span>
          <% elsif friends_request_received?(user) %>
              <%= link_to 'Accept', add_friend_path(:friend_id => user.id), class: "btn btn-success btn-xs" %>
              <%= link_to 'Decline', '#', class: "btn btn-danger btn-xs" %>

          <% elsif friends_request_sent?(user) %>
              Requested
              <span class="glyphicon glyphicon-ok"></span>
          <% else %>
              Add friend
              <span class="glyphicon glyphicon-plus"></span>
          <% end %>

          <%= link_to 'Delete', unfriend_path(:id => user.id ), :method => :delete %> <br>


      <% end %>
      <br><br>
    </p>

  </div>
  <div class="col-md-6">
    <h4><%= link_to "#{user.name}", user %></h4>
    <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>

  </div>
</div>



#Friends list

    <h1>Your friends</h1>

    <% @friends.each do |friend| %>

        <%= friend.name %> | <%= link_to 'Delete from friends', unfriend_path(:id => friend.id ), :method => :delete %> <br>

    <% end %>


    <h1>Sent friendship requests to</h1>

    <% @friend_requests_sent.each do |friend| %>

        <%= friend.id %> <%= friend.name %> | <%= link_to 'Delete', unfriend_path(:id => friend.id ), :method => :delete %> <br>

    <% end %>

    <h1>Recieved friendship requests from</h1>

    <% @friend_requests_received.each do |friend| %>

        <%= friend.id %> <%= friend.name %> <%= link_to 'Accept', add_friend_path(:friend_id => friend.id) %> <br>

    <% end %>





<div class="form-group">
  <%= f.fields_for :gender do |u| %>
      <dt><%= u.label :gender_id, "Gender" %></dt>
      <dd><%= u.collection_select :gender_id, Gender.order(:id),
                                  :id, :gendername, {}, {class: "form-control"} %></dd>
  <% end %>
</div>

<div class="form-group">
  <dt><%= f.label :relationship_id, "Relationship" %></dt>
  <dd><%= f.collection_select :relationship_id, Relationship.order(:id),
                              :id, :relationshipname, {}, {class: "form-control"} %></dd>
</div>

<div class="form-group">
  <%= f.fields_for :userinfo do |u| %>
      <dt><%= u.label :birthday, "Birthday" %></dt>
      <dd><%= u.date_select :birthday, {:start_year => Time.now.year - 100}, {class: "form-control"} %></dd>
  <% end %>
</div>

<div class="form-group">
  <dt><%= f.label :countru_id, "Country" %></dt>

  <dd><%= f.collection_select :country_id, Country.order(:id),
                              :id, :countryname, {}, {class: "form-control"} %></dd>

</div>

<div class="form-group">
  <%= f.fields_for :city do |city| %>
      <dt><%= city.label :cityname, "City" %></dt>
      <dd><%= city.text_field :cityname, class: "form-control" %></dd>
  <% end %>
</div>
